@charset "UTF-8";

@font-face {
 font-family: "Roboto-Light";
 src: url("fonts/Roboto-Light.ttf") format("truetype");
}

.landing-page {
	width: 100%;
    overflow: hidden;
}

.landing-header {
	position: fixed;
	z-index: 5;
	background-color: #373434;
	width: 100vw;
	height: 60px;
	transition: all 0.3s ease-in-out;
}

.connexion-button {
	color: white;
	border: none;
	background: none;
    font-family: Roboto-Light;
    width: max-content;
    margin-right: 3vw;
    float: right;
    margin-top: 20px;
	cursor: pointer;
}

.connexion-button:hover {
	opacity: 80%;
}

.connexion-button:focus,
.home-button:focus {
	outline-style: none;
}

.landing-home {
	position: relative;
	height: 100vh;
}

.bg-img {
	position: absolute;
	height: 100%;
	width: 100%;
	background: no-repeat center center url("../img/landing-background.jpg");
	background-size: cover;
	filter: brightness(80%);
	transition: all 0.5s ease-in-out;
	
}

.home-text {
	text-align: center;
	position: absolute;
	top: 32%;
	width: 32vw;
	margin-left: 34vw;
    color: #FDC500;
    font-size: 12vh; /* previously 7rem;*/
    font-weight: 700;
    animation-delay: 1s;
    -webkit-animation: animTitle 0.8s ease-in-out;
    user-select: none;
}

@-webkit-keyframes animTitle {
from {
	opacity: 0%;
	-webkit-filter: blur(10px);
	top: 50%;
	}
to {
	opacity: 100%;
	-webkit-filter: blur(0px);
	top: 32%;
	}
}

@-webkit-keyframes animButton {
from {
	opacity: 0%;
	-webkit-filter: blur(10px);
	top: 69%;
	}
to {
	opacity: 80%;
	-webkit-filter: blur(0px);
	top: 51%;
	}
}

.home-button {
	position: absolute;
	top: 51%;
	background-color: #FDC500;
    color: white;
    opacity: 80%;
    border-radius: 18px;
    border: none;
    width: 18vw;
    height: 7vh;
    font-size: 3rem;
    margin-left: 41vw;
    cursor: pointer;
    overflow: hidden;
    animation-delay: 1s;
    -webkit-animation: animButton 1.2s ease-in-out;
    transition: all .5s;
	transition-timing-function: cubic-bezier(.2, 3, .4, 1);
}

.home-button:hover {
	transform : scale(1.1, 1.1);
	opacity: 100%;	
}

.join-us {
	margin-top: -8px;
    margin-left: 12px;
}

@media screen and (max-height: 800px) {
	.join-us {
		margin-top: 0px;
		margin-left: 8px
	}
	.home-button {
		height: 10vh;
	}
}

.landing-content {
	height: 90vh;
	margin-left: 50vw;
	transform: translateX(-50%);
	margin-top: 5vh;
	margin-bottom: 5vh;
	display: inline-flex;
}

.soon-news {
	background-color: wheat; /* à supprimer */
	border: solid black 3px; /* à supprimer */
	width: 28vw; 
	/* height: 90%; */
	margin-right: 50px;
}

.landing-information {
	width: 50vw;
	margin-left: 50px;
	font-size: x-large;
    text-align: justify;
    overflow: hidden;
}

.landing-paragraphe {
	transform: translateX(50vw);
	transition: all .5s cubic-bezier(.75,-0.5,0,1.25);
}

.show-paragraphe {
	transform: translateX(0);
}

.information-illustration {
	max-width: 100%;
}

.landing-footer {
	background-color: #282828;
	width: 100vw;
	height: 60px;
	color: white;
    text-align: center;
    padding-top: 20px;
}

/* =============== SOON NEWS SECTION ================= */


/* =============== \SOON NEWS SECTION ================= */



@media screen and (max-height: 700px) { 

    body{
    line-height: 1;
    }

    .landing-information {
    font-size: large;
    }
}