@charset "UTF-8";

@font-face {
 font-family: "Roboto-Light";
 src: url("fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
 font-family: "ZillaSlab-Bold";
 src: url("fonts/ZillaSlab-Bold.ttf") format("truetype");
}

.interface {
	width: 100vw;
	height:100vh;
    overflow: hidden;
}

/* ============ HEADER ==============*/

.interface-header {
	position: fixed;
	width: 82vw;
	height: 6vh;
	background-color: #373434;
	transition: all 0.3s ease-in-out;
	margin-left: 18vw;
}


.header-title {
	color: #FDC500;
	text-align: center;
	font-family: ZillaSlab-Bold;
	font-size: 4vh;
}

.deconnexion-button,
.setting-button,
.identifiant-button {
	position: fixed;
    right: 0;
    top: 1vh;
    padding: 2vh;
    border: none;
    cursor: pointer;
    background-size: cover !important;
}

.burger-button {
    background: url(/img/icone/burger-menu.png) no-repeat;
    background-size: cover;
}

.deconnexion-button {
    margin-right: 2vh;
    background: url(/img/icone/Quitter.png) no-repeat;
    background-size: cover;
}

.setting-button {
    margin-right: 7vh;
	background: url(/img/icone/settings.png) no-repeat;
}

.identifiant-button {
    margin-right: 12vh;
	background: url(/img/icone/tete.png) no-repeat;
}

/* ============ \HEADER ==============*/

/* ============ MENU ==============*/

.interface-menu {
	padding-top: 6vh;
	background-color: #282828;
	width: 18vw;
	height: 100vh;
	font-family: Roboto-Light;
}

.user-info {
	text-align: center;
}
.profil-picture {
	border-radius: 50%;
    width: 8vw;
}

.user-name {
	color: white;
	margin-top: 2vh;
    font-size: 2vw;
}

.user-club {
	color: grey;
    margin-top: -0.5vh;
}

.btn-list {
	margin-top: 3vh;
}

.menu-button {
	border: none;
    color: white;
    text-align: left;
    border-radius: 5px;
    height: 5vh;
    font-size: large;
    padding-left: 80px;
    margin-left: 5%;
    margin-top: 15px;
    cursor: pointer;
    width: 90%;
    background-size: 5vh !important;
    background-position: 1vw !important;
}

.menu-button:hover {
	background-color: #FDC500; 
}

.home-button {
	background: url(/img/icone/home.png) no-repeat;
}

.calendrier-button {
	background: url(/img/icone/calendrier.png) no-repeat;
}

.club-button {
	background: url(/img/icone/club.png) no-repeat;
}

.profil-button {
	background: url(/img/icone/tete.png) no-repeat;
}

/* ============ \MENU ==============*/

/* ============ CONTENU ==============*/

.interface-contenu {
	position: fixed;
    width: 82vw;
    height: 94vh;
    top: 6vh;
    left: 18vw;
}

/* ============ \CONTENU ==============*/


