@charset "UTF-8";

@font-face {
 font-family: "Roboto-Light";
 src: url("fonts/Roboto-Light.ttf") format("truetype");
}

.landing-page {
	width: 100%;
    overflow: hidden;
}

.landing-header {
	position: fixed;
	z-index: 5;
	background-color: #282828;
	width: 100vw;
	height: 60px;
	transition: all 0.3s ease-in-out;
}

.connexion-button {
	color: white;
	border: none;
	background: none;
    font-family: Roboto-Light;
    width: max-content;
    margin-right: 3vw;
    float: right;
    margin-top: 2vh;
	cursor: pointer;
}

.landing-home {
	position: relative;
	height: 100vh;
}

.bg-img {
	position: absolute;
	height: 100%;
	width: 100%;
	background: no-repeat center center url("../img/landing-background.jpg");
	background-size: cover;
	filter: brightness(80%);
	transition: all 0.5s ease-in-out;
	
}

.home-text {
	text-align: center;
    transform: translateY(36vh);
    color: #FDC500;
    font-size: 7rem;
    font-weight: 700;
    -webkit-animation: animTitle 0.8s ease-in-out;
}

@-webkit-keyframes animTitle {
from {
	opacity: 0%;
	-webkit-filter: blur(10px);
	transform: translateY(46vh);
	}
to {
	opacity: 100%;
	-webkit-filter: blur(0px);
	transform: translateY(36vh);
	}
}

.home-button {
	background-color: #FDC500;
    color: white;
    opacity: 90%;
    border-radius: 18px;
    border: none;
    width: 18vw;
    height: 7vh;
    font-size: 3rem;
    margin-left: 41vw;
    transform: translateY(36vh);
    cursor: pointer;
    overflow: hidden;
    -webkit-animation: animTitle 1.2s ease-in-out;
}

.landing-content {
	height: 90vh;
	margin-left: 50vw;
	transform: translateX(-50%);
	margin-top: 5vh;
	margin-bottom: 5vh;
	display: inline-flex;
}

.soon-news {
	background-color: wheat; /* à supprimer */
	border: solid black 3px; /* à supprimer */
	width: 28vw; 
	/* height: 90%; */
	margin-right: 50px;
}

.landing-information {
	width: 50vw;
	margin-left: 50px;
	font-size: x-large;
    text-align: justify;
    overflow: hidden;
}

.information-illustration {
	max-width: 100%;
}

.landing-footer {
	background-color: #282828;
	width: 100vw;
	height: 60px;
}

/* =============== SOON NEWS SECTION ================= */


/* =============== \SOON NEWS SECTION ================= */



@media screen and (max-height: 700px) { 

    body{
    line-height: 1;
    }

    .landing-information {
    font-size: large;
    }
}